.GoldGraphHistoryContainer {
    max-width: 1300px;
    overflow: hidden;
    position: relative;
}

@media (min-width: 769px) {
    .GoldGraphHistoryContainer {
        padding: 24px;
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
        border: 1px solid #f2f2f2;
        background: #ffffff;
        margin: 20px auto;
    }
}

.GoldGraphHistoryHeader {
    margin-bottom: 25px;
}

.GoldGraphHistoryPriceSub {
    font-size: 13px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
}

.GoldGraphHistoryPositive {
    padding: 2px 8px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 12px;
}

.GoldGraphHistoryHeader h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #092042;
    letter-spacing: -1px;
}

.GoldGraphHistoryPriceT {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #092042;
    letter-spacing: -1px;
}


.GoldGraphHistoryCustomTooltip {
    background: #0a3d62;
    color: #ffffff;
    padding: 6px 14px;
    border-radius: 100px;
    box-shadow: 0 8px 20px rgba(98, 0, 234, 0.3);
    border: none;
    z-index: 100;
}

.GoldGraphHistoryTooltipText {
    font-size: 11px;
    font-weight: 600;
    white-space: nowrap;
}

.GoldGraphHistoryChartWrapper {
    width: 100%;
    height: 320px;
}

.GoldGraphHistoryChartWrapper *:focus {
    outline: none !important;
}

.GoldGraphHistoryTabs {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    justify-content: center;
}

.GoldGraphHistoryTabBtn {
    border: none;
    background: #f5f5f7;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    color: #777;
    transition: 0.2s;
}

.GoldGraphHistoryTabActive {
    background: #0a3d62;
    color: #ffffff;
}

@media (max-width: 768px) {
    .GoldGraphHistoryContainer {
        padding: 12px;
        margin-bottom: 150px;
    }

    .GoldGraphHistoryHeader h2 {
        font-size: 18px;
    }

    .GoldGraphHistoryTabs {
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 5px;
    }

    .GoldGraphHistoryChangeRow{
        font-size: 12px !important;
    }

}

.GoldGraphHistoryDivider {
    width: 100%;
    height: 0;
    border-top: 1px dashed #dcdcdc;
    margin: 12px 0 10px 0;
}

.GoldGraphHistoryChangeRow {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-weight: 600;
}

.GoldGraphHistoryChangeLabel {
    color: #888;
}

.GoldGraphHistoryChangeValue {
    font-weight: 700;
}

.GoldHistoryTitleGroup {
    max-width: 1300px;
    margin: 16px auto 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 0 9px;
}

.GoldHistoryMainTitle {
    font-size: 18px;
    font-weight: 700;
    color: #092042;
    margin: 0;
}

.GoldHistoryMainNoDataContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.GoldHistoryMainNoDataText {
    font-size: 18px;
    color: #888;
}


.GoldHistoryMainSkeletonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.GoldHistoryMainSkeletonPrice {
    height: 28px;
    width: 150px;
    background: #e0e0e0;
    border-radius: 4px;
    animation: shimmer 1.5s infinite;
}

.GoldHistoryMainSkeletonChart {
    height: 250px;
    width: 100%;
    background: #e0e0e0;
    border-radius: 8px;
    animation: shimmer 1.5s infinite;
}

.GoldHistoryMainSkeletonTabs {
    display: flex;
    gap: 10px;
}

.GoldHistoryMainSkeletonTab {
    width: 50px;
    height: 30px;
    background: #e0e0e0;
    border-radius: 4px;
    animation: shimmer 1.5s infinite;
}


@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: 200px 0;
    }
}
