:root {
  --color-white: #ffffff;
  --color-text-primary: #092042;
  --color-border-light: #e5e7eb;

  --color-fintech-green: #16a34a;
  --color-fintech-green-light: #dcfce7;

  --color-gray-bg: #f3f4f6;


  --color-purple-button: #402a7b;
}
